
body {
	background-color: white;
}

div{
	/*remove text selection*/
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#main {
    text-align: center;
	border: 5px solid gray;
    width: 400px;
    height: 650px;
    margin: 0;
	background-image: url(PicnicMenu.png);
}

/* on mobile */
@media screen and (max-width: 1240px) {
   p {
       width: 95%;
       height: 95%;
       border: 5px blue;
   }
}

#infoBar {
    border: 5px solid gray;
    background-color: white;
    margin: 0;
    width: 400px;
    height: 21px;
    text-align: center;
}

#end {
    border: 5px solid gray;
    background-color: white;
    margin: 0;
    width: 400px;
    text-align: center;
	z-index: 1;
    position: fixed;
    top: 200px;
}

#timer {
    float: left;
    margin-left: 10px;
}
#score {
    float: right;
    margin-right: 10px;
}

#pause {
    position: fixed;
    left: 200px;
}

canvas { 
	position: fixed;
	margin: 0 auto; 
	background: brown;
    border: 5px solid gray;
    border-top: none;
    z-index: 0;
}