
body {
	background-color: white;
}

#main {
    text-align: center;
	border: 5px solid gray;
    width: 400px;
    height: 650px;
    margin: 0px;
}

/* on mobile */
@media screen and (max-width: 1240px) {
   p {
       width: 95%;
       height: 95%;
       border: 5px blue;
   }
}

#infoBar {
    border: 5px solid gray;
    margin: 0;
    width: 400px;
    text-align: center;
}

#end {
    border: 5px solid gray;
    margin: 0;
    width: 400px;
    text-align: center;
}

#timer {
    float: left;
    margin-left: 10px;
}
#score {
    float: right;
    margin-right: 10px;
}